@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bg: #121212;
  --secondary-bg: #161616;
  --light-primary: #615ef02e;
  --border: #323232;
  --primary: #6b8afd;
  --secondary: #2e333d;
  --text-1: #fff;
  --text-2: #fff;
  --error: #b13b3b;
  --shadow: #ffffff20;
  --green: #68d391;
}

.light {
  --bg: #fff;
  --secondary-bg: #fcfbfb;
  --light-primary: #615ef012;
  --border: #dfdfdf;
  --primary: #615ef0;
  --secondary: #f1f1f1;
  --text-1: #515151;
  --text-2: #fff;
  --error: #a50e0e;
  --shadow: #00000017;
  --green: #68d391;
}

@layer utilities {
  .center_y {
    @apply flex items-center;
  }
  .center {
    @apply flex items-center justify-center;
  }
  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }
  ::-webkit-scrollbar-track {
    @apply bg-secondary bg-clip-padding;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded;
  }
}
@layer components {
  .input_h {
    @apply h-[48px]  rounded-6;
  }
  .label {
    @apply text-text-1 text-sm;
  }
  .input {
    @apply border input_h outline-none disabled:bg-transparent border-border py-2 px-4 bg-secondary;
  }
}
.modelContainer {
  display: none;
}
.modelContainer .model {
  min-height: 300px;
  max-width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@media (max-width: 639px) {
  .modelContainer .model {
    height: 550px;
  }
}
.modelContainer.open {
  display: block;
}
@media (max-width: 991px) {
  .modelContainer.open {
    display: flex;
  }
}
.modelContainer.open .model .model_body::-webkit-scrollbar {
  width: 3px !important;
}

html.light .modelContainer.open {
  background-color: rgba(16, 16, 16, 0.1764705882);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

html .modelContainer.open {
  background-color: rgba(255, 255, 255, 0.0588235294);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.pagination-container {
  display: flex;
  list-style-type: none;
}

.pagination-container .pagination-item {
  width: 25px;
  height: 25px;
  text-align: center;
  margin: auto 4px;
  color: var(--text-1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 13px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.pagination-container .pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}

.pagination-container .pagination-item:hover {
  color: var(--text-1);
  cursor: pointer;
}

.pagination-container .pagination-item.selected {
  background-color: var(--primary);
  color: var(--text-2);
}

.pagination-container .pagination-item.disabled {
  pointer-events: none;
}

.pagination-container .pagination-item.disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.pagination-container .pagination-item.disabled .arrow::hover {
  background-color: transparent;
  cursor: default;
}/*# sourceMappingURL=style.css.map */